<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71373227147-6hjtgv1g32uatf1elu2e6pi8ts8qjefv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71373227147-6hjtgv1g32uatf1elu2e6pi8ts8qjefv</string>
	<key>API_KEY</key>
	<string>AIzaSyDeGJo1XJJY-fhDhEOei7rrWtQgk2z_JoY</string>
	<key>GCM_SENDER_ID</key>
	<string>71373227147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>md.yamin335.SwiftUIWebView</string>
	<key>PROJECT_ID</key>
	<string>project1browser</string>
	<key>STORAGE_BUCKET</key>
	<string>project1browser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71373227147:ios:808a68f398e0a4294d808e</string>
</dict>
</plist>